:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #67f74a;
}

*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 10% 0% 10%;
}
.cabecalho__menu {

}

.cabecalho__menu__link {
 font-family: 'Monserrat', sans-serif;
 font-size: 1.5rem;
 font-weight: 400;
 color: var(--cor-terciaria)
}

.body{
 background-color: var(--cor-primaria)
}

.apresentacao{
 padding:2% 10%;
 align-items: center;
 justify-content: space-between;
}
.apresentacao__conteudo{
 width: 100%;
 display: flex;
 flex-direction:column;
 gap: 40px;
}
.apresentacao__conteudo__titulo{
 font-size: 2.25rem;
 font-family: 'Krona One', sans-serif;
 color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto{
 font-size: 1.5rem;
 font-family: 'Montserrat', sans-serif;
 color: var(--cor-secundaria);
}

.titulo__destaque{
 font-size: 1.8rem;
 font-family: 'Krona One', sans-serif;
 color: var(--cor-secundaria);   
}

.bloco11{
height: 400px;;
}

.bloco12{
padding: 0% 0% 0% 10%;
}


.apresentacao__links{
 padding: 0% 0% 0% 10%;
 max-width: 100%;
 width: 1920px;
 color: var(--cor-secundaria)
}

.apresentacao__links__link{
 display: flex;
 justify-content: space-around;
 border: 2px solid var(--cor-terciaria);
 border-radius:30px;
 font-size: 1rem;
 width: 70%;
 height: auto;
 background-color: var(--cor-primaria);
 font-weight: 100;
 padding: 20px;
 text-decoration: none;
 color: var(--cor-secundaria);
 font-family: 'Montserrat', sans-serif;
 align-items:center; 
 margin-bottom: 17%;
 margin-inline-end: 180px;
 }    

.apresentacao__imagem{
 display: flex;
 justify-content: space-around;
 height: auto;
 max-width: 100%;
 border-radius:30px;
 padding: 120px;
 padding-bottom: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-left: 0px;

}

.apresentacao__links__link:hover {
 background-color:#022003;
}
.apresentacao__imagem:hover {
 background-color:#022003;
}
.footer{
 padding: 0% 0% 0% 10%;
 color: var(--cor-secundaria)
}

@media (max-width: 1200px) {
 .cabecalho{
     padding: 10%;
 }
 
 .cabecalho__menu{
     justify-content:center ;
 }

 .apresentacao{
     flex-direction: column-reverse;
     padding: 5%;
 }

 .apresentacao__conteudo{
     width: auto;
 }
}
.vocesabia{
 height: auto;
 justify-content: center;
 border: 2px solid var(--cor-terciaria);
 border-radius:30px;
 font-size: 1rem;
 width: 10%;
 height: auto;
 background-color: var(--cor-primaria);
 font-weight: 100;
 padding: 20px;
 text-decoration: none;
 color: var(--cor-secundaria);
 font-family: 'Montserrat', sans-serif;
 align-items:center; 
 margin-bottom: 17%;
 margin-inline-end: 180px;
}