:root {
    --cor-primaria: #184b3c;
    --cor-secundaria: #f2ffdb;
    --cor-terciaria: #14342b;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #f2ffdb;
    width: 100%;
    padding-top: 15PX;
    align-items: center;
    justify-content:space-between;
    
}

.container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content:center;
}

.logo,.sociais {
    width: 25%;
}

.logo img{
width: 250px;
}

.menu {
    max-width: 50%;
    cursor:pointer;
}

.menu nav a {
    color: var(--cor-terciaria);
    text-decoration: none;
    padding-right: 150px;
    font-size: 18px; /* Tamanho da fonte em pixels */
    line-height: 1.5; /* Altura da linha */
  }

.sociais button {
    width: 40px;
    height: 40px;
    font-size: 50px;
    background-image: linear-gradient(45deg,#2be2c9, #b1d0c4);
    border-radius: 8px;
    border-color: #0d2821;
    cursor:pointer;
    margin-right: 10px;
}

.sociais button {
    font-size: 20px;
    color: #0d2821;
}

.body{
     background-image: linear-gradient(#0d2821, #327a64);
}

.apresentacao{
 padding-top: 70PX;
 padding-left: 10%;
 padding-right: 10%;
 align-items: center;
 justify-content: space-between;
}

.apresentacao__conteudo{
 width: 100%;
 display: flex;
 flex-direction:column;
 gap: 40px;
}

.apresentacao__conteudo__titulo{
 font-size: 2.25rem;
 font-family: 'Krona One', sans-serif;
 color: #e6f7f7;
 padding: 0% 0% 0% 0%;
}

.apresentacao__conteudo__destaque{
    font-size: 1.8rem;
    font-family: 'Krona One', sans-serif;
    color: #def0f0;
    padding: 0% 0% 0% 0%;
   }

.apresentacao__conteudo__texto{
 font-size: 1.6rem;
 font-family: 'Montserrat', sans-serif;
 color: var(--cor-secundaria);
 padding: 0% 0% 0% 0%; 
}

.titulo__destaque{
 font-size: 1.8rem;
 font-family: 'Krona One', sans-serif;
 color: var(--cor-terciaria);   
}

.bloco11{
 width: auto;
 height: 400px;
 }

.apresentacao__links{
 padding: 0% 0% 0% 10%;
 max-width: 100%;
 width: auto;
 color: var(--cor-secundaria)
}

.table1{
width: 1920;
height: 400;
}

.apresentacao__links__link{
 display: flex;
 justify-content: space-around;
 border: 2px solid #39b28e;
 border-radius:30px;
 font-size: 1.5rem;
 width: 70%;
 height: auto;
 background-color: #24241c;
 font-weight: 100;
 padding: 20px;
 text-decoration: none;
 color: var(--cor-secundaria);
 font-family: 'Montserrat', sans-serif;
 align-items:center; 
 margin-bottom: 17%;
 margin-inline-end: 180px;
 }    

.apresentacao__imagem{
 display: flex;
 margin-left: auto;
 width: 400px;
 height: 400px;
 border-radius:30px;
 }

.apresentacao__links__link:hover {
 background-color:#022003;
}

.footer {
 padding: 1% 0% 0% 10%;
 background-color: #0d2821;
 color: var(--cor-secundaria);
 font-size: 1rem;
 font-family: 'Montserrat', sans-serif;
 width: auto;
 height: auto;
}

@media (max-width: 1200px) {
 .cabecalho{
     padding: 10%;
 }
 
 .cabecalho__menu{
     justify-content:center ;
 }

 .apresentacao{
     flex-direction: column-reverse;
     padding: 5%;
 }

 .apresentacao__conteudo{
     width: auto;
 }

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

 .linha{
    display: flex;
    padding: 0% 0% 0% 10%;
    justify-content: space-around;
}

}
.vocesabia{
 margin: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 padding: 0%;
} 
.card{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 300px;
    position: relative;
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    box-shadow: 0px, 35px, 80px, rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card:hover{
    height: 300px;
}

.card .img-box{
    position: absolute;
    width: 200px;
    height: auto;
    top: 0px;
}

.card:hover .img-box{
    top: -50px;
    scale: 0.5;
    transition: 0.75s;
}

.card .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0%, 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .content {
    top: 130px;
    height: 250px;
}

.card .read-more {
    background-color: #81bcaa;
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Krona One', sans-serif;
}



